.feedback {
  padding: 91px 0 111px;
  display: grid;
  grid-template-columns: 1fr 600px 570px 1fr;
  background-color: $blue;
  background-image:
    url("../img/bg-form-air.png"),
    url("../img/bg-form-rigth.png");
  background-repeat: no-repeat;
  background-position: 14% 0, 100% 0;
  background-size: auto auto;

  @media (max-width: $desktop-width-max-only) {
    background-position: 14% 40%, 100% 0;
  }

  @media (max-width: $desktop-width-only) {
    grid-template-columns: 30px 1fr 30px;
  }

  @media (max-width: $desktop-width) {
    padding: 80px 0 103px;
    grid-template-columns: 90px 1fr 87px;
    background-image: none;
  }

  @media (max-width: $tablet-width) {
    padding: 31px 0 43px;
    grid-template-columns: 15px 1fr 15px;
    background-image: none;
  }

  h2 {
    margin: 0;
    font-family: $font-roboto-condensed;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $white;
    grid-column: -3 / -2;

    @media (max-width: $desktop-width-only) {
      width: 570px;
      margin: 0 auto;
    }

    @media (max-width: $desktop-width) {
      width: 591px;
      font-size: 32px;
      line-height: 140.62%;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      font-size: 28px;
      line-height: 140.62%;
    }
  }

  p {
    margin: 10px 0 0;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    grid-column: -3 / -2;

    @media (max-width: $desktop-width-only) {
      width: 570px;
      margin: 0 auto;
    }

    @media (max-width: $desktop-width) {
      width: 591px;
      margin: 16px auto 0 auto;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin: 12px 0 0;
    }
  }
}

.feedback__form {
  width: 570px;
  margin: 49px auto 0;
  grid-column: -3 / -2;

  @media (max-width: $desktop-width) {
    width: 590px;
    margin-top: 55px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 25px;
  }
}

.feedback__block-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  input,
  textarea {
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0;
    border: none;
    background: $blue-ligth;
    color: $white;
    outline: none;

    &::placeholder {
      color: $white;
    }

    &:hover {
      background: $white-30;
    }

    &:focus,
    &:focus-visible {
      box-shadow: $shadow;
    }
  }
}

.feedback__wrapper-input {
  margin-bottom: 40px;

  @media (max-width: $desktop-width) {
    margin-bottom: 42px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;
  }

  input {
    width: 270px;
    height: 50px;
    padding: 0 16px;

    @media (max-width: $desktop-width) {
      width: 280px;
      padding: 0 18px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      height: 51px;
    }
  }
}

.feedback__wrapper-textarea {
  textarea {
    width: 570px;
    height: 154px;
    padding: 13px 16px 0;
    resize: none;

    @media (max-width: $desktop-width) {
      width: 591px;
      height: 160px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      height: 104px;
    }
  }
}

.feedback__bottom-block {
  margin-top: 43px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-top: 28px;
    flex-direction: column-reverse;
  }
}

.feedback__submit {
  width: 270px;
  height: 45px;
  font-family: $font-roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: $border-white-1;
  border-radius: 5px;
  background: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue;
    background: $white;
  }

  &:active {
    opacity: 0.9;
  }

  @media (max-width: $desktop-width) {
    width: 280px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
  }
}

.feedback__wrapper-checkbox {
  width: 270px;
  padding-left: 8px;
  font-family: $font-pt-mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;

  label {
    position: relative;
    padding-left: 32px;
    display: block;
    cursor: pointer;

    @media (max-width: $desktop-width) {
      padding-left: 36px;
    }

    &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      content: "";
      top: 0;
      left: 0;
      background: url("../img/icon-checkbox-off.svg") 50% 50% no-repeat;
      background-size: cover;

      @media (max-width: $desktop-width) {
        left: 4px;
      }
    }

    &:hover::before,
    &:focus::before {
      opacity: 0.5;
    }
  }

  input {
    &:checked+label::before {
      background: url("../img/icon-checkbox-on.svg") 50% 50% no-repeat;
      background-size: cover;
    }

    &:focus+label::before {
      box-shadow: $shadow;
    }
  }

  @media (max-width: $desktop-width) {
    width: 280px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 30px 0 0;
    padding-left: 0;
  }
}
