.footer {
  display: grid;
  grid-template-columns: 1fr 1412px 1fr;
  grid-template-rows: 65px max-content max-content;
  background: $white;

  @media (max-width: $desktop-width-max) {
    grid-template-columns: min-content 1fr min-content;
  }

  @media (max-width: $desktop-width) {
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 19px max-content max-content;
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: 46px max-content max-content;
  }
}

.footer__wrapper-top {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  border-bottom: $border-gray-20;

  @media (max-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__block-top {
  max-width: 1412px;
  margin: 0 auto;
  padding-bottom: 57px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $desktop-width-max) {
    padding: 0 25px 67px;
  }

  @media (max-width: $desktop-width) {
    padding: 0;
    display: block;
  }
}

.footer__block-logo {
  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 0 10px 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: $border-gray-20;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px 54px 0;
    flex-direction: column;
  }
}

.footer__logo-link {
  display: flex;
  text-decoration: none;

  svg {
    width: 52px;
    height: 52px;
    margin-right: 16px;
  }
}

.footer__logo-text {
  p {
    margin: 5px 0 0;
    font-family: $font-roboto-condensed;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $black-logo;
  }

  small {
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $gray;
  }
}

.footer__top-service {
  display: none;

  @media (max-width: $desktop-width) {
    margin: 0 0 0 28px;
    display: block;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin: 26px 0 30px;
    padding-left: 15px;
  }
}

.footer__social {
  margin: 53px 0 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width-max) {
    margin-right: 25px;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin-left: 16px;
    padding-left: 15px;
  }
}

.footer__item {
  width: 27px;
  height: 27px;
  display: block;
  margin-right: 15px;
}

.footer__social-link {
  display: block;

  svg {
    width: 27px;
    height: 27px;
  }
}

.footer__block-lists {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    margin-right: 10px;
    padding: 38px 25px 33px;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
    justify-content: center;
  }
}

.footer__sections-site,
.footer__contacts {
  h3 {
    margin: 0;
    font-family: $font-roboto-condensed;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $black;

    @media (max-width: $tablet-width) {
      display: flex;
      justify-content: space-between;

      &::after {
        width: 16px;
        height: 16px;
        content: "";
        display: block;
        margin-top: 3px;
        margin-right: -7px;
        background-image: url("../img/icon-plus.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      &--active {
        &::after {
          width: 16px;
          height: 1px;
          content: "";
          display: block;
          background-image: url("../img/icon-minus.svg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
        }
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 28px 15px 28px 17px;
    border-bottom: $border-gray-20;
    cursor: pointer;

    &--active {
      h3::after {
        width: 16px;
        height: 1px;
        content: "";
        display: block;
        background-image: url("../img/icon-minus.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }

      .footer__sections-site-list,
      .footer__contacts-list {
        display: block;
        margin-top: 30px;
      }
    }
  }

}

.footer__sections-site-list {
  column-count: 2;

  @media (max-width: $desktop-width-max) {
    column-count: 1;
  }
}

.footer__sections-site-list,
.footer__contacts-list {
  margin: 26px 0 0 0;
  padding-left: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__sections-site {
  margin-right: 54px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.footer__contacts-list {
  margin-right: 0;
}

.footer__sections-site-item {
  margin-right: 60px;

  a {
    display: block;
    font-family: $font-pt-mono;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $black;
    opacity: 0.5;
  }
}

.footer__contacts-item {
  p {
    margin: 0;
    display: block;
    font-family: $font-pt-mono;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $black;
    opacity: 0.5;
  }
}

.footer__block-bottom {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / -2;
  grid-row: -2 / -1;

  p {
    margin-top: 14px;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;
    opacity: 0.5;

    @media (max-width: $desktop-width) {
      margin: 21px 0 24px;
    }
  }

  @media (max-width: $desktop-width-max) {
    margin: 0 25px;
    justify-content: space-between;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 28px 0 26px;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;

      &:last-child {
        margin-top: 17px;
        padding-left: 13px;
      }
    }
  }
}

.footer__text {
  &--bottom-service {
    margin-left: 72px;
    margin-right: 141px;
  }

  &--privacy {
    margin-right: auto;
  }

  @media (max-width: $desktop-width-only) {
    margin-right: 0;
    margin-left: 0;
  }

  @media (max-width: $desktop-width) {
    &--protected {
      display: none;
    }

    &--bottom-service {
      display: none;
    }
  }
}
