.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &::after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background-color: $black-10;
    z-index: 1000;
  }

  &--deactive {
    display: none;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.modal__wrapper {
  position: relative;
  width: 490px;
  padding: 30px 39px 36px;
  overflow-y: auto;
  background-color: $blue;
  z-index: 1500;

  &--active {
    display: block;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  h2 {
    margin: 0;
    text-align: left;
    font-family: $font-roboto-condensed;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: $white;
  }

  p {
    margin: 10px 0 31px;
    padding-right: 10px;
    text-align: left;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }
}

.modal__feedback-form {
  width: 100%;
  height: auto;
}

.modal__block-input {
  width: 410px;
  display: block;

  input {
    height: 52px;
    margin-bottom: 30px;
    padding: 0 24px;
  }

  input,
  textarea {
    width: 100%;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 0;
    background: $white-10;
    color: $white;
    outline: none;

    &::placeholder {
      color: $white;
    }

    &:hover {
      background: $white-30;
    }

    &:focus,
    &:focus-visible {
      box-shadow: $shadow;
    }
  }

  textarea {
    padding: 13px 24px 0;
    resize: none;
  }
}

.modal__bottom-block {
  margin-top: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.modal__submit {
  width: 100%;
  height: 45px;
  font-family: $font-roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: $border-white-1;
  border-radius: 5px;
  background: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue;
    background: $white;
  }

  &:active {
    opacity: 0.9;
  }
}

.modal__wrapper-checkbox {
  margin-top: 35px;
  text-align: left;
  font-family: $font-pt-mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;

  label {
    position: relative;
    padding: 0 40px 0 48px;
    display: block;
    cursor: pointer;

    &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      content: "";
      top: 0;
      left: 0;
      background: url("../img/icon-checkbox-off.svg") 50% 50% no-repeat;
      background-size: cover;
    }

    &:hover::before,
    &:focus::before {
      opacity: 0.5;
    }
  }

  input {
    &:checked+label::before {
      background: url("../img/icon-checkbox-on.svg") 50% 50% no-repeat;
      background-size: cover;
    }

    &:focus+label::before {
      box-shadow: $shadow;
    }
  }
}

.modal__close {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 17px;
  right: 17px;
  padding: 3px;
  border: none;
  background: url("../img/icon-close.svg") 50% 50% no-repeat;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: $shadow;
  }
}
