.modal {
  position: fixed;
  width: 490px;
  padding: 30px 39px 36px;
  left: calc(50% - 490px/2);
  top: 136px;
  display: none;
  background-color: $blue;
  z-index: 1500;

  &--active {
    display: block;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  h2 {
    margin: 0;
    text-align: left;
    font-family: $font-roboto-condensed;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: $white;
  }

  p {
    margin: 10px 0 31px;
    padding-right: 10px;
    text-align: left;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }
}

.modal__close {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 20px;
  right: 20px;
  background: url("../img/icon-close.svg") 50% 50% no-repeat;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.modal__feedback-form {
  width: 100%;
  height: auto;
}

.modal__block-input {
  width: 410px;
  display: block;

  input {
    height: 52px;
    margin-bottom: 30px;
    padding: 0 24px;
  }

  input,
  textarea {
    width: 100%;
    font-family: $font-pt-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: $white-10;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }

  textarea {
    padding: 13px 24px 0;
  }
}

.modal__submit {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  font-family: $font-roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: $border-white-1;
  border-radius: 5px;
  background: $blue;

  &:hover,
  &:focus {
    color: $blue;
    background: $white;
  }

  &:active {
    opacity: 0.9;
  }

}

.modal__wrapper-checkbox {
  margin-top: 35px;
  text-align: left;
  font-family: $font-pt-mono;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;

  label {
    position: relative;
    padding: 0 40px 0 48px;
    display: block;

    &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      content: "";
      top: 0;
      left: 0;
      background: url("../img/icon-checkbox-off.svg") 50% 50% no-repeat;
      background-size: cover;
    }
  }

  input:checked+label::before {
    background: url("../img/icon-checkbox-on.svg") 50% 50% no-repeat;
    background-size: cover;
  }
}
