$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$font-pt-mono: "pt-mono", "Arial", sans-serif;
$font-roboto-condensed: "roboto-condensed", "Arial", sans-serif;

$white: #ffffff;

