$mobile-width: 320px;
$tablet-width: 767px;
$tablet-width-only: 768px;
$desktop-width: 1023px;
$desktop-width-max: 1420px;

$font-pt-mono: "pt-mono", "Arial", sans-serif;
$font-roboto: "roboto", "Arial", sans-serif;
$font-roboto-condensed: "roboto-condensed", "Arial", sans-serif;

$white: #ffffff;
$white-00: rgba(255, 255, 255, 0);
$gray: #788891;
$gray-ligth: #e5e5e5;
$gray-dark: #353735;
$gray-text: #666666;
$gray-bg: #1b2d37;
$black: #1b2d37;
$blue: #00b2ff;

$border-white-1: 1px solid $white;
